html
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(name='viewport', content='width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0')
    meta(name='keywords', content='USER GROUP')
    meta(name='description', content='Description')
    meta(name='og:title', content=typeof(title) !== 'User Group' ? title : "User Group")
    link(rel='shortcut icon', href='./images/favicon.jpg', type='image/x-icon') 
    link(rel='stylesheet', href='./styles/main.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
    title User Group
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js')
  body
    include partials/header.pug
    include partials/nav.pug
    section#about-carousel
      div.carousel-image
    section#content-wrapper
      #content  
        div.tabcontent#about-page
          .main-text.column
            .title.mobile about 
            p User Group is a worker-owned cooperative run by a committed group of scientists, engineers, IT specialists, economists, and designers. Our combined expertise enables the delivery of a range of professional services regarding complex geospatial data collection and their utilization, as well as the integration of enhanced geospatial data capabilities and platforms into existing institutional  structures and operational frameworks. #[span.marker]
        div.tabcontent#philosophy-page
          .row
            .main-text.column
              .title.mobile philosophy
              p As an independent cooperative, our aim is to take on challenging,
                | urgent projects with clients who understand that collaboration is a
                | critical aspect of software and IT development.
                |
                
              p We believe that technological transformations afford organizations
                | the chance to re-think procedures, policies, and objectives; we
                | have developed a co-research methodology that helps us find
                | the best ways to work with organizations as they upgrade their
                | technical systems.
                |
                
              p Whether we are working with NGOs or government agencies,
                | public or private institutions, or any of our various clients from
                | arts organizations to technology watchdog groups to international
                | programs, we believe that the best technical products, platforms,
                | and projects are guided by a close collaborative methodology that
                | allows for a dynamic design process and the multi-step reasoning it requires.
              span.marker
          .row.methodologies
            ul.methodology
              li
                .subheader Development & Testing
                .content 
                    p Ucil inctoribus asserep ernati aut aut plandendis am corit autem aut ommo blaut voloribusAssed que pore, ut opta voles asimus aut ipsam qui asperen tiorio eium et eiur a porro ea ipsapit aut autem quis doluptatium fugita seque consed quibusanimil illorum aut quaectem earistias ma voluptureium net faccatem aboriost, omnimus consequamus ad molupidunt, eos dunt assusa debitam, sint int plis doloritati bereri venime et adi ut moluptium ut ipissimos delest am, alis velit, temolupt ipsandellaut aut eri doluptaquis nihicab iur. 
              li
                .subheader Deployment & integration
                .content 
                    p Ucil inctoribus asserep ernati aut aut plandendis am corit autem aut ommo blaut voloribusAssed que pore, ut opta voles asimus aut ipsam qui asperen tiorio eium et eiur a porro ea ipsapit aut autem quis doluptatium fugita seque consed quibusanimil illorum aut quaectem earistias ma voluptureium net faccatem aboriost, omnimus consequamus ad molupidunt, eos dunt assusa debitam, sint int plis doloritati bereri venime et adi ut moluptium ut ipissimos delest am, alis velit, temolupt ipsandellaut aut eri doluptaquis nihicab iur. 
              li
                .subheader Training & Maintenance
                .content 
                    p Ucil inctoribus asserep ernati aut aut plandendis am corit autem aut ommo blaut voloribusAssed que pore, ut opta voles asimus aut ipsam qui asperen tiorio eium et eiur a porro ea ipsapit aut autem quis doluptatium fugita seque consed quibusanimil illorum aut quaectem earistias ma voluptureium net faccatem aboriost, omnimus consequamus ad molupidunt, eos dunt assusa debitam, sint int plis doloritati bereri venime et adi ut moluptium ut ipissimos delest am, alis velit, temolupt ipsandellaut aut eri doluptaquis nihicab iur. 
              li
                .subheader Grants & ...
                .content 
                    p Ucil inctoribus asserep ernati aut aut plandendis am corit autem aut ommo blaut voloribusAssed que pore, ut opta voles asimus aut ipsam qui asperen tiorio eium et eiur a porro ea ipsapit aut autem quis doluptatium fugita seque consed quibusanimil illorum aut quaectem earistias ma voluptureium net faccatem aboriost, omnimus consequamus ad molupidunt, eos dunt assusa debitam, sint int plis doloritati bereri venime et adi ut moluptium ut ipissimos delest am, alis velit, temolupt ipsandellaut aut eri doluptaquis nihicab iur.     
        div.tabcontent#services-page
          .title.mobile services
          p.service-intro #{serviceContent.about}
          ul.services
            for item in serviceContent.services
              li.service-item.column 
                .subheader #{item.title}
                .content 
                  img.mobile.hero(src=item.url)
                  p #{item.description}
                span.marker
            
          div#service-carousel
            img.service-image

    div.loader
    include partials/contact.pug
    include partials/footer.pug

    
    script.
      var imageUrls = !{JSON.stringify(imgFiles)}
    script(type='text/javascript', src='/scripts/nav.js')
    script(type='text/javascript', src='/scripts/carousel.js')
    script(type='text/javascript', src='/scripts/services.js')
