html
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(name='viewport', content='width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0')
    meta(name='keywords', content='USER GROUP, software development, ethnography, Geospatial, Crowdsourcing platform')
    meta(name='og:url', content="http://usergroupcoop.com/")
    meta(name='og:type', content="website")
    meta(name='og:title', content=typeof(title) !== 'User Group Inc. LLP' ? title : "User Group Inc. LLP")
    meta(name='og:image', content="https://s3.eu-central-1.amazonaws.com/userlanding/assets/services/GeospatialPlatformDevelopment_services_usergroup.jpg")
    meta(name='og:description', content="a worker-owned cooperative for software research & development")

    link(rel='shortcut icon', href='./images/favicon.png', type='image/x-icon') 
    link(rel='stylesheet', href='./styles/main.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
    title User Group
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js')
  body
    include partials/header.pug
    include partials/nav.pug
    section#about-carousel
      div.carousel-image
    section#content-wrapper
      #content  
        div.tabcontent#about-page
          .main-text.column
            .title.mobile about 
            p User Group is a worker-owned cooperative run by a committed group of scientists, designers, geographers, engineers, and IT specialists. Our combined expertise enables the delivery of a range of professional services regarding complex geospatial data collection and their utilization, as well as the design and development of bespoke digital platforms and related data visualization tools. We work with a wide variety of organizations and research partners across various operational scales to develop thoughtful software, IT infrastructure, and related digital strategies.  #[span.marker]
        div.tabcontent#philosophy-page
          .row
            .main-text.column
              .title.mobile philosophy
              p As an independent cooperative, our aim is to take on challenging, urgent projects with clients who understand that collaboration is a critical aspect of software and IT development. 
              p We believe that technological transformations afford organizations the chance to re-think processes, policies, and objectives; to this end, we have developed a <i> co-research </i> methodology that allows us to work closely and adaptively with organizations as they upgrade their technical systems or co-design new tools to address emerging challenges. 
              p Whether we are working with NGOs or government agencies, public or private institutions, or any of our other clients from arts organizations, technology watchdog groups, or international humanitarian programs, our most successful projects are guided by a collaborative methodology that allows for a dynamic design process and the multi-step reasoning it requires. 

              span.marker
          .row.methodologies
            ul.methodology
              li
                .subheader Development & Testing
                .content 
                    p The design, development, and testing of successful and sustainable tools, software systems, or IT infrastructure takes focus and attention. We believe in a process of iterative design and development that uses <i> institutional ethnography </i> as a way to clarify objectives and leverage organization strengths toward building better digital infrastructure. 
                    p When we build complex tools for challenging problems, we can’t entirely predict how their use will reveal new insights or concerns to our clients. Being open to these ideas in-the-making requires an adaptive process of development and testing that leaves room for unanticipated opportunities that can make our tools even more effective and empowering.  
                    p Because we recognize that products are best refined and improved through a considered engagement with their users, we test systems together with clients and take a <i> slow software </i>approach that views technology as one unique component within social, institutional, or community-based processes of transformation. 


              li
                .subheader Deployment & Integration
                .content 
                    p Designing and developing new digital tools and platforms is only the first part of the process; how they are deployed and integrated within institutions to meet existing protocols or adapted to suit emerging organizational needs is an ongoing process. Because of this, we emphasize the importance of strategic design thinking that goes beyond the technical products we make. We are committed to thinking with clients through the equally important questions of socializing new tools, encouraging adoption among users, creating and sustaining software maintenance protocols, and harnessing the power of user feedback to shape new versions or upgrades.   

              li
                .subheader Training & Maintenance
                .content 
                    p With new tools and platforms come new opportunities, but only if they are well understood. In order to ensure that all users knowing how to get the most out of our systems, we also develop training modules and provide ongoing maintenance support when it is required. By participating in these activities, we can also assess the efficacy of our tools, propose adaptations, and support the ongoing process of institutional transformation. For these reasons, training and maintenance are vital components of our design research process.   

              li
                .subheader Grants & ...
                .content 
                    p We have experience working in academia, the private sector, and with a wide range of international organizations; if you are applying for research funding and need technical support, a technical lead/collaborator, or design and development support, please reach out to us—we’re always open to meaningful new collaborations.     
        div.tabcontent#services-page
          .title.mobile services
          p.service-intro #{serviceContent.about}
          ul.services
            for item in serviceContent.services
              li.service-item.column 
                .subheader #{item.title}
                .content 
                  img.mobile.hero(src=item.url)
                  p #{item.description}
                span.marker
            
          div#service-carousel
            img.service-image

    div.loader
    include partials/contact.pug
    include partials/footer.pug

    
    script.
      var imageUrls = !{JSON.stringify(imgFiles)}
    script(type='text/javascript', src='/scripts/nav.js')
    script(type='text/javascript', src='/scripts/carousel.js')
    script(type='text/javascript', src='/scripts/services.js')
